
/* * {min-height:1px;} */
body {
    border: 0;
    margin: 0;
    padding: 0;
    background: #fef2f6 url("../design/bg.gif") 0 0 repeat-x;
    font: 70%/160% "verdana", sans-serif;
}



/* This is for the table of profile page */
table {
    display: table;
    border-collapse: collapse;
    margin: 0px 8px;   
    padding: 10px;
    border: 2px solid #050301;
    background-color: #f3f6f8;
    font-size: 100%;
}

/* tr {display:table-row;} */

th,
td {
    display: table-cell;
    border: 1px solid;
    margin: 0 auto;
    padding: 5px;
    vertical-align: top;
    text-align: left;
}

dl {
    border: 0;
    margin: 15px 0;
    padding: 0;
}

dt {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

dd {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0;
}


/* Floating */
.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* Text align */
.t-left {
    text-align: left;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.va-middle {
    vertical-align: middle;
}

/* .clear {clear:both;} */
.box {
    min-height: 1px;
    _height: 1px;
}

.box:after {
    content: ".";
    display: block;
    line-height: 0px;
    font-size: 0px;
    visibility: hidden;
    clear: both;
}

.nom {
    margin: 0;
}

.noscreen {
    display: none;
}

/* -----------------...........--------------------------------------------------------------------------------------- */

#main {
    width: 770px;
    margin: 50px auto 0 auto;
    _text-align: left;
}

/* Header */
#header {
    position: relative;
    width: 770px;
    height: 100px;
    margin: 0;
    padding: 0;
    background: #233C9B url("../design/Header.jpg") 0 0 no-repeat;
    color: #FFF;
}

/* Header - logo */
#header #logo {
    position: absolute;
    top: 35px;
    left: 35px;
    margin: 0;
}


/* Main menu (tabs)-- this is for header-home,profile,logout*/
#tabs {
    background: #192666;
    margin: 0 5px;
    padding: 10px 0 0 0;
}

#tabs ul {
    margin: 0 10px;
    padding: 0;
    list-style: none;
}

#tabs ul li {
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
}

#tabs ul li a {
    display: block;
    position: relative;
    padding: 7px 15px;
    border: 0;
    background: url("../design/tab_link.gif") 0 0 repeat-x;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}


/* Page (2 columns)  this for backgroud of white table */
#page {
    width: 100%;
    min-height: 1px;
    background: rgb(255, 255, 255) 0 0 repeat-y;
    _height: 1px;
}


/* Content-- this for the welcome to control pannel and background */
#content {
    float: center;
    width: 732px;
    margin: 0;
    padding: 0 0 0 20px;
}

/* Content - article -n this  is for the table content*/
#content .article {
    color: rgb(40, 50, 139);
    clear: both;
    text-align: center;
    font-size: 15px;
    margin: 0px;
    padding: 30px;
    background: url("../design/content_arsticle_bg.jpg") 0 0 no-repeat;
}

